// Custom timing for transitions
.animate__animated {
	--animate-duration: 0.3s;
}

.animate__pageOut {
	-webkit-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;

	@include breakpoint('medium') {
		-webkit-animation-name: fadeOutUp;
		animation-name: fadeOutUp;
	}
}

.animate__pageIn {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;

	@include breakpoint('medium') {
		-webkit-animation-name: fadeInDown;
		animation-name: fadeInDown;
	}
}
