.page-leave-active {
	animation-name: fadeOutLeft;
	animation-duration: 0.3s;

	@include breakpoint('medium') {
		animation-name: fadeOutUp;
	}
}

.page-enter-active {
	animation-name: fadeInLeft;
	animation-duration: 0.3s;

	@include breakpoint('medium') {
		animation-name: fadeInDown;
	}
}
