// Manage border-radius globally or by side
@mixin border-radius($place: all) {
	border-radius: 0.3em;

	@if $place == right {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	@if $place == left {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

/// Mixin to manage responsive breakpoints
@mixin breakpoint($breakpoint) {

	// If the key exists in the map, prints a media query based on the value
	@if map-has-key($breakpoints, $breakpoint) {
	  @media (max-width: map-get($breakpoints, $breakpoint)) {
		 @content;
	  }
	}

	// If the key doesn't exist in the map
	@else {
	  @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
			+ "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
 }
