// Manage border-radius globally or by side
@mixin border-radius($place: all) {
	border-radius: 0.3em;

	@if $place == right {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	@if $place == left {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

/// Mixin to manage responsive breakpoints
@mixin breakpoint($breakpoint, $direction: 'down') {
	// If the key exists in the map, prints a media query based on the value
	@if map-has-key($breakpoints, $breakpoint) {
		@if ($direction == 'down') {
			@media (max-width: map-get($breakpoints, $breakpoint)) {
				@content;
			}
		} @else if ($direction == 'up'){
			@media (min-width: map-get($breakpoints, $breakpoint)) {
				@content;
			}
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
			+ "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}
