$primary-font: 'Lato', 'Source Sans Pro', 'Roboto', 'Helvetica Neue', 'Arial', -apple-system, sans-serif;
$primary-alt-font: 'Economica', 'Source Sans Pro', 'Roboto', 'Helvetica Neue', 'Arial', -apple-system, sans-serif;
$secondary-font: 'Fira Sans', 'Source Sans Pro', 'Roboto', 'Helvetica Neue', 'Arial', -apple-system, sans-serif;
$code-font: 'Fira Code', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;


$color-blue: #475b7d;
$color-blue-light: #5c6c89;
$color-blue-dark: #202e49;
$color-teal: #55c9d1;
$color-teal-light: #71d6dd;
$color-teal-dark: #2c979f;
$color-yellow: #ffe356;
$color-yellow-light: #ffe770;
$color-yellow-dark: #d8bd2d;
$color-orange: #f59949;
$color-orange-light: #ffae66;
$color-orange-dark: #ce7223;
$color-red: #f37654;
$color-red-light: #ffa58c;
$color-red-dark: #cc4f2d;
$color-green: #82d155;
$color-green-light: #98dd71;
$color-green-dark: #63b336;
$color-cyan: #568eff;
$color-cyan-light: #709fff;
$color-cyan-dark: #3771e6;

$color-white: #fff;
$color-grayscale-1: #f4f9fc;
$color-grayscale-2: #edf2f5;
$color-grayscale-3: #e6eaed;
$color-grayscale-4: #dee3e6;
$color-grayscale-5: #c2c8cc;
$color-grayscale-6: #919699;
$color-grayscale-7: #616466;
$color-grayscale-8: #494b4d;
$color-grayscale-9: #303233;
$color-grayscale-10: #18191a;
$color-black: #000;

$color-primary: $color-blue;
$color-warning: $color-yellow-dark;
$color-danger: $color-red-dark;
$color-success: $color-green;
$color-text-primary: $color-blue-dark;
$color-info: $color-cyan;
$color-text-regular: $color-grayscale-7;
$color-text-secondary: $color-grayscale-6;
$color-text-placeholder: $color-grayscale-5;
$border-color-base: $color-grayscale-4;
$border-color-light: $color-grayscale-3;
$border-color-lighter: $color-grayscale-2;
$border-color-extra-light: $color-grayscale-1;

$small-desktop-break: 1220px;
$tablet-break: 800px;
