$code-font-family: 'Fira Code', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
$code-font-size: 0.9rem;
$code-line-height: 1.4em;

$code-tab-size: 3;
$code-hyphens: none;

$code-background: #273136;
$code-border: 1px solid #797a7a;
$code-color: #f4fafe;
$code-background-inline: #d2dadb;
$code-border-inline: 1px solid #c0c7c9;
$code-color-inline: #686b6d;
$code-color-fade: #bebec5;
$code-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

$code-color-comment: #6f7e82;
$code-color-debug: #fc8f82;
$code-color-keyword: #82ddfc;
$code-color-name: #fcde82;
$code-color-number: #82bffc;
$code-color-param: #fcb882;
$code-color-selector: #a2e57b;
$code-color-string: #fcde82;
$code-color-value: #82ddfc;
$code-color-variable: #fc8f82;

@import 'prism';
